<div style="background-color: #87CEFA; height: 20%; margin-bottom: 2%;">
  <h5 style="padding: 15px 7px 7px 15px;">Geca media <i class="fa fa-tv"></i></h5>
</div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" *ngIf="!item && !data" style="text-align: center;">
        <img src="assets/images/loading.gif" alt="loading" style="max-width: 20%;">
      </div>
    </div>
    <div class="row" *ngIf="item && data.length > 0 && item.description.length > 100" [@myAnimation]="showAnimation">
      <div class="col-5">
        <h1 style="text-align: justify;" [@myAnimation]="item.title && item.title" [innerHTML]="item?.title | sanitizeHtml"></h1>
        <P style="text-align: justify;" [@myAnimation]="item.title && item.description" [innerHTML]="item?.description | sanitizeHtml"></P>
        <P style="text-align: justify;" *ngIf="item.author">Fonte: <b>{{item?.author}}</b></P>
      </div>
      <div class="col-7" style="text-align: right;">
        <img *ngIf="!item.isplayer" class="rounded float-right shadow p-3 mb-5 bg-white"
          style="max-height: 420px;text-align: right;max-width: 90%;" src="{{item?.imageUrl}}">
        <iframe *ngIf="item?.isplayer" width="100%" height="420" src="{{item?.urlYoutube}}"></iframe>
      </div>
    </div>
    <div class="row" *ngIf="item && data.length > 0 && item.description.length < 100" [@myAnimation]="showAnimation">
      <div class="col-12 text-center">
        <img *ngIf="!item.isplayer" class="rounded text-right shadow p-3 mb-0 bg-white"
          style="max-height: 450px; max-width: 100%;" src="{{item?.imageUrl}}">
      </div>
      <div class="col-12 caption center-block">
        <h3 class="text-center" [@myAnimation]="item.title && item.title"  [innerHTML]="item?.title | sanitizeHtml"></h3>
        <P class="text-center" [@myAnimation]="item.title && item.description" [innerHTML]="item?.description | sanitizeHtml"></P>
        <P *ngIf="item.author">Fonte: <b>{{item?.author}}</b></P>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
<footer style="background-color: #B0C4DE;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <img src="assets/images/logo.png" style="max-width: 180px;">
        <p style="padding-left: 42px; font-weight: 500;">Geca - 2018</p>
      </div>
      <div class="col-6">
        <p class="text-right align-middle"
          style="padding-top: 7%; font-weight: 500; font-size: 20px; margin-bottom: 5px;">{{dateNow}}</p>
        <div class="text-right align-middle clock" id="real-clock"></div>
      </div>
    </div>
  </div>
</footer>