<div style="background-color: #87CEFA; height: 20%; margin-bottom: 2%;">
  <h5 style="padding: 15px 7px 7px 15px;">Geca media <i class="fa fa-tv"></i></h5>
</div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" *ngIf="!item" style="text-align: center;">
          <img src="assets/images/loading.gif" alt="loading" style="max-width: 20%;">
      </div>
    </div>
    <div class="row" *ngIf="item && data.length > 0">
      <div class="col-5">
        <h1>{{item?.title}}</h1>
        <P style="text-align: justify;">{{item?.description}}</P>
      </div>
      <div class="col-7" style="text-align: right;">        
        <img class="rounded float-right shadow p-3 mb-5 bg-white" style="max-height: 420px;text-align: right;max-width: 90%;" src="{{item?.urlToImage}}">
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
<footer style="background-color: #B0C4DE;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <img src="assets/images/logo.png" style="max-width: 180px;">
        <p style="padding-left: 42px; font-weight: 500;">Geca - 2018</p>
      </div>
      <div class="col-6">
          <p class="text-right align-middle" style="padding-top: 7%; font-weight: 500; font-size: 20px; margin-bottom: 5px;">{{dateNow}}</p>
          <div class="text-right align-middle" style="padding-right: 5%; font-weight: 500; font-size: 35px;" id="real-clock"></div>
      </div>
    </div>
  </div>
</footer>
